{{ template "header.html" . }}

<div class="container mt-3">
	<div class="row justify-content-center">

		<div class="col-md-8">
			<div class="card">
				<div class="card-header">{{ .CodeTitle }}</div>
				<div class="card-body" style="overflow-y: auto; max-height: 700px;">
					<pre><code>{{ .Code }}</code></pre>
				</div>
			</div>

			<div class="mt-2">
				<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here" id="reviewComment"
						style="height: 100px"></textarea>
					<label for="reviewComment">Leave a comment here</label>
				</div>
			</div>

			<div class="btn-group mt-2" role="group">
				<button class="btn btn-success btn-lg" id="reviewAprove">Aprove</button>
				<button class="btn btn-danger btn-lg" id="reviewReject">Reject</button>
			</div>

		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#reviewReject').click(function (e) {
			var comment = $('#reviewComment').val().trim();
			if (comment === '') {
				e.preventDefault();
				alert('Comment is required for the reject.');
				$('#reviewComment').focus();
			} else {
				// TODO: REJECT
				alert('REJECT');
			}
		});

		$('#reviewAprove').click(function (e) {
			var comment = $('#reviewComment').val().trim();
			// TODO: APPROVE
			alert('APPROVE');
		});

	});
</script>

{{ template "footer.html" . }}
