{{ template "header.html" . }}

<div class="container mt-5">
	<div class="row justify-content-center">

		<div class="col-md-8">
			{{ with .Submit }}
			<div class="card">
				<h5 class="card-header font-monospace">
					<text class="text-warning">{{ .ContestID }}</text>
					<i class="bi bi-arrow-right"></i>
					<text class="text-info">{{ .Problem }}</text>
					{{ .RunID }}
				</h5>
				<div class="card-body" style="overflow-y: auto; max-height: 750px;">
					<pre><code>{{ .Source }}</code></pre>
				</div>
			</div>

			<div class="mt-3">
				<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here." id="reviewComment"
						style="height: 100px"></textarea>
					<label for="reviewComment">Leave a comment here.</label>
				</div>
			</div>

			<div class="btn-group my-3" role="group">
				<button class="btn btn-success btn-lg" id="reviewAprove">Aprove</button>
				<button class="btn btn-danger btn-lg" id="reviewReject">Reject</button>
			</div>
			{{ end }}
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#reviewReject').click(function (e) {
			var comment = $('#reviewComment').val().trim();
			if (comment === '') {
				e.preventDefault();
				alert('Comment is required for the reject.');
				$('#reviewComment').focus();
			} else {
				// TODO: REJECT
				alert('REJECT');
			}
		});

		$('#reviewAprove').click(function (e) {
			var comment = $('#reviewComment').val().trim();
			// TODO: APPROVE
			alert('APPROVE');
		});

	});
</script>

{{ template "footer.html" . }}
